.faq-page {
    .nav-tabs .nav-link {
        color: #6c757d;
        border: none;
    }

    .nav-tabs .nav-link.active {
        color: var(--color);
        font-weight: bold;
        border-bottom: 2px solid var(--color);
        text-decoration: none;
    }

    .tab-pane {
        text-align: center;
        padding: 1.5rem;
    }

    .bg-color {
        background-color: var(--color) !important;
        color: white;
    }

    .accordion-button {
        font-weight: bold;
    }

    .accordion-button.collapsed {
        background-color: #f8f9fa;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--color);
        color: white;
    }

    .accordion-item {
        border: none;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }


    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #000;
        border-radius: 50%;
    }

    .card {
        border: none;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }

    .carousel-item {
        text-align: left;
    }

    .carousel-indicators {
        bottom: -30px;
    }

    .carousel-indicators [data-bs-target] {
        background-color: #000;
        border-radius: 50%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        color: #000;
    }

    .btn-outline-faq{
        border: 2px solid var(--color);
        font-weight: 600;
    }
    .btn-outline-faq:hover{
        border: 2px solid var(--color);
        background-color: var(--hover_bg_color);
        color: white;
    }

    @media (max-width: 768px) {

        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
    }


}