.guide-step-parent{


.hero-container-buy-steps{
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust shadow size and color as needed */
      padding-bottom: 40px;
      
}
.link-item-step-guide{
        margin-top: 20px;
        margin-left: 20px;
}
.custom-card-background-color {
        background-color: white; /* Adjust as needed */
        width: 350px;
        margin-top: 10px;
        margin: 5px;
        margin-top: 10px;
        /* text-align: center; */
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        justify-content: flex-start;
        text-align: justify;


    }
    .custom-card-border {
        border: 1px solid #ddd; /* Adjust as needed */
    }
    .custom-card-border-radius {
        border-radius: 0px; /* Rounded corners */
    }
    .custom-card-padding {
        padding: 16px; /* Padding */
    }
    .custom-card-shadow {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
    }
    .custom-img-size-small {
        width: 48px; /* Width for small screens */
        height: 48px; /* Height for small screens */
    }
    @media (min-width: 576px) {
        .custom-img-size-medium {
            width: 64px; /* Width for medium screens and up */
            height: 64px; /* Height for medium screens and up */
        }
    }
    .custom-link-color {
        color: #007bff; /* Bootstrap primary color */
        text-decoration: none;
    }
    .custom-link-hover-underline {
        text-decoration: underline;
    }
    .custom-text-center {
        text-align: center; /* Center align text */
    }
}