* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --background_color: #0c2640;
    --color: #09e1e8;
}

.home_cards {
    .card {
        transition: 1s all ease;

        &:hover {
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
    }
}